button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
table {
margin: 10px 20px;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}
th, td:first-child {
background: #AFCDE7;
color: white;

}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}
th:first-child, td:first-child {
text-align: left;
}
.btn{
border:none;
background: #AFCDE7;
padding: 10px 20px;
color: white;
}
.btn:hover{background: #D8E6F3;}

.close{
background: #D8E6F3;
padding: 10px 20px;
color: white;
}